/*=============================================
=            Company Tour            =
=============================================*/

#company-home {
    position: relative;
    background-attachment: fixed;
    background-image: url("/images/yenilikler-home-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#company-content {
    background-image: url("/images/yenilikler-bg.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    
    #company-details {
        padding: 64px 0;
        .details-left {
            width: 50%;
            @media screen and (max-width:767px) {
                margin: 0 0 16px;
                padding: 0 16px;
                width: 100%;
            }
            .company-details-desc {
                color: #434B56;
                font-size: 14px;
                font-weight: bold;
                line-height: 24px;
            }
        }
        .details-right {
            width: 50%;
            @media screen and (max-width: 767px) {
                padding: 0 16px;
                width: 100%;
            }
            .tour-media {
                width: 100%;
                > * {
                    width: 100%;
                }
            }
        }
    }
    
    #company-services {
    
      
        position: relative;
        background-attachment: fixed;
        background-image: url("/images/company-service-bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
       
        .section-title {
            h1 {
                color: #fff;
            }
        }
        .overlay {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 84px 0;
            @media screen and (max-width: 767px) {
                padding: 84px 16px;
            }
        }
        .company-service {
            width: 23%;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 80px;
            }
            @media screen and (max-width: 767px) {
                margin-bottom: 48px !important;
                width: 100%;
            }
            .company-service-title {
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                line-height: 40px;
                margin-bottom: 8px;
                img {
                    margin-right: 20px;
                }
            }
            .company-service-desc {
                color: #fff;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    #company-team {
        padding: 64px 0 0;
        @media screen and (max-width: 767px) {
            padding: 64px 16px 0;
        }
        .company-team-content {
            width: 100%;
            .company-team-item {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-bottom: 3%;
                padding: 31.33% 0 0;
                position: relative;
                width: 31.33%;
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
                .overlay {
                    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
                    bottom: 0;
                    left: 0;
                    padding: 16px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    @include transition(background-color 0.3s);
                    @media screen and (max-width: 767px) {
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                    .company-team-name {
                        bottom: 16px;
                        left: 16px;
                        right: 16px;
                        position: absolute;
                        h2 {
                            color: #fff;
                            font-size: 22px;
                            font-weight: bold;
                            line-height: 26px;
                            margin-bottom: 12px;
                        }
                        span {
                            color: #fff;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }
                    .company-team-about {
                        color: #fff;
                        font-size: 14px;
                        display: none;
                        line-height: 24px;
                        overflow: hidden;
                        margin: auto 0;
                        position: absolute;
                        left: 16px;
                        right: 16px;
                        top: 50%;
                        text-align: left;
                        transform: translateY(-50%);
                        @media screen and (max-width: 767px) {
                            display: none !important;
                        }
                    }
                    .company-team-social {
                        border-top: 1px solid #979797;
                        bottom: 16px;
                        display: none;
                        overflow: hidden;
                        padding-top: 16px;
                        position: absolute;
                        left: 16px;
                        right: 16px;
                        text-align: left;
                        @media screen and (max-width: 767px) {
                            display: none !important;
                        }
                        a {
                            color: #fff;
                            font-size: 18px;
                            line-height: 18px;
                            margin-right: 18px;
                        }
                    }
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                        .company-team-name {
                            bottom: auto;
                            top: 16px;
                        }
                        .company-team-about {
                            display: block;
                        }
                        .company-team-social {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    #company-stats {
        position: relative;
        background-attachment: fixed;
        background-image: url("/images/stats-bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .overlay {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 64px 0;
            @media screen and (max-width: 767px) {
                padding: 64px 16px 16px;
            }
            .company-stats-item {
                width: 25%;
                @media screen and (max-width: 767px) {
                    margin-bottom: 48px;
                    width: 100%;
                }
                .company-stats-icon {
                    margin-bottom: 16px;
                }
                .company-stats-stat {
                    color: #fff;
                    font-size: 44px;
                    font-weight: bold;
                    margin-bottom: 8px;
                }
                .company-stats-desc {
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }
    
    #company-partners {
        padding: 64px 0;
        @media screen and (max-width: 767px) {
            padding: 64px 16px 0;
        }
        .partners-image {
            width: 100%;
            img {
                height: auto;
                width: 100%;
            }
        }
    }
      
    @keyframes passportMove {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
    }
}
