/*=============================================
=            Contact Tour            =
=============================================*/

#contact-home {
    position: relative;
    background-attachment: fixed;
    background-image: url("/images/yenilikler-home-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contact-content {
    padding-top: 130px;
    position: relative;
    z-index: 3;
    @media screen and (max-width: 767px) {
        padding: 16px;
    }
    .contact-box {
        border: 1px solid $color_blue;
        @include box-shadow(0 0 16px #ccc);
        .contact-box-left {
            background-color: #fff;
            padding: 32px 128px 32px 32px;
            width: 60%;
            @media screen and (max-width: 767px) {
                margin-bottom: 32px;
                padding: 16px;
                width: 100%;
            }
            .contact-form {
                .contact-form-title {
                    color: $color_blue;
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 40px;
                }
                .contact-form-input {
                    margin-bottom: 24px;
                    > * {
                        border: 1px solid $color_blue;
                        padding: 14px;
                        width: 100%;
                    }
                }
            }
        }
        .contact-box-right {
            background-color: $color_blue;
            padding: 32px 0 32px 64px;
            width: 40%;
            @media screen and (max-width: 767px) {
                display: flex;
                flex-direction: column;
                padding: 16px;
                width: 100%;
            }
            .contact-form-title {
                color: #fff;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 40px;
            }
            .contact-info-row {
                margin-bottom: 64px;
                .contact-info-icon {
                    color: #fff;
                    font-size: 24px;
                    opacity: 0.5;
                    margin-right: 32px;
                }
                .contact-info-content {
                    color: #fff;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.5;
                }
                &.contact-info-social {
                    margin: 0;
                    a {
                        color: #fff;
                        opacity: 0.5;
                        margin: 16px;
                    }
                }
            }
        }
    }
}

#contact-footer-map {
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    img {
        height: auto;
        margin: -64px 0 0;
        max-width: 100%;
    }
}