/*=============================================
=            Turlar            =
=============================================*/

#turlar-home {
    position: relative;
    background-attachment: fixed;
    background-image: url("/images/turlar-home-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#turlar-content {
    padding: {
        bottom: 90px;
        top: 64px;
        left: 16px;
        right: 16px;
    }
    @media screen and (max-width: 767px) {
        padding: {
            left: 0;
            right: 0;
        }
    }
    #turlar-content-inner {
        #turlar-content-left {
            margin: {
                right: 2%;
            }
            width: 31.33%;
            @media screen and (max-width: 767px) {
                margin: 0;
                padding: 0 16px;
                width: 100%;
            }
            #search-result {
                background-color: #FBFBFB;
                border: 1px solid $color_blue;
                margin: {
                    bottom: 32px;
                }
                padding: 12px 0;
            }
            #order-box {
                background-color: $color_blue;
                margin: {
                    bottom: 32px;
                };
                padding: 24px;
                .order-box-title {
                    border-bottom: 1px solid #fff;
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 19px;
                    margin: {
                        bottom: 16px;
                    }
                    padding: {
                        bottom: 16px;
                    }
                }
                .order-box-form {
                    form {
                        .radio-button {
                            margin: {
                                bottom: 32px;
                            }
                            width: 50%;
                        }
                        label {
                            color: #fff;
                            font-size: 13px;
                            font-weight: bold;
                            line-height: 15px;
                        }
                    }
                }
            }
            .sidebar-widget {
                background-color: #FBFBFB;
                border: 1px solid #EAEAEA;
                margin: {
                    bottom: 32px;
                };
                padding: 16px;
                .sidebar-widget-title {
                    border-bottom: 1px solid #EAEAEA;
                    color: #39393A;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 19px;
                    margin: {
                        bottom: 16px;
                    }
                    padding: {
                        bottom: 16px;
                    }
                }
                .sidebar-widget-content {
                    select {
                        background-color: $color_blue;
                        border: none;
                        color: #fff;
                        font-size: 14px;
                        margin: {
                            bottom: 48px;
                        }
                        padding: 12px;
                        width: 100%;
                    }
                    .radio-list {
                        .radio-button {
                            margin: {
                                bottom: 16px;
                            }
                            label {
                                display: block;
                                font-size: 14px;
                                width: 100%;
                                @include box-sizing(border-box);
                                &:before {
                                    border-color: $color_blue;
                                }
                                &:after {
                                    background-color: $color_blue;
                                }
                                .badge {
                                    float: right;
                                }
                                .rating {
                                    justify-content: flex-start;
                                    svg {
                                        fill: $color_blue !important;
                                        height: 16px;
                                    }
                                    .star-empty {
                                        display: none;
                                    }
                                    .star-half {
                                        display: none;
                                    }
                                }
                            }
                            input:checked + label {
                                &:after {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            #price-range {
                #slider-range {
                    background: #eee;
                    border: none;
                    margin: {
                        left: 16px;
                        right: 16px;
                        top: 54px;
                    }
                    @include border-radius(16px);
                    .ui-widget-header {
                        background: $color_blue;
                    }
                    .ui-state-default {
                        background: rgb(255, 255, 255) !important;
                        border: none;
                        @include box-shadow(rgb(204, 204, 204) 1px 1px 1px);
                        @include border-radius(16px);
                    }
                    .range-tooltip {
                        background: #333;
                        color: #fff;
                        font-size: 14px;
                        left: 50%;
                        min-width: 32px;
                        padding: 0.25rem;
                        position: absolute;
                        text-align: center;
                        top: -32px;
                        border-radius: 0.25rem;
                        transform: translateX(-50%);
                        &:before {
                            border-color: #333 transparent transparent;
                            border-style: solid;
                            border-width: 0.5rem 0.5rem 0;
                            content: '';
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
        #turlar-content-right {
            width: 66.66%;
            @media screen and (max-width: 767px) {
                padding: 0 16px;
                width: 100%;
            }
            #tours-filter {
                font-size: 14px;
                margin: {
                    bottom: 32px;
                }
                @media screen and (max-width: 767px) {
                    flex-wrap: wrap;
                    justify-content: space-between;
                    > span {
                        width: 100%;
                    }
                    > select {
                        margin: 8px 0 !important;
                        max-width: 31%;
                    }
                    > button {
                        display: none;
                    }
                }
                select {
                    background-color: #FBFBFB;
                    border: 1px solid $color_blue;
                    cursor: pointer;
                    flex: 1;
                    padding: 12px;
                    margin: {
                        left: 14px;
                    }
                }
                button {
                    background-color: #FBFBFB;
                    border: 1px solid $color_blue;
                    cursor: pointer;
                    padding: 12px;
                    margin: {
                        left: 14px;
                    }
                }
            }
            #tour-list {
                margin: {
                    bottom: 38px;
                }
            }
        }
    }
}