body {
    @include box-sizing(border-box);
}

* {
    @include box-sizing(inherit);
}

.page-bottom-info {
    background-color: $color_blue;
    padding: 27px 0;
    @media screen and (max-width: 767px) {
        & {
            > .wrapper {
                flex-direction: column;
                flex-wrap: wrap;
                > .flex-grow {
                    width: 100%;
                    margin-bottom: 16px;
                    padding: 0 16px;
                    text-align: center;
                    box-sizing: border-box;
                }
            }
        }
    }
    .page-bottom-info-title {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        line-height: 34px;
        margin: {
            bottom: 10px;
        }
    }
    .page-bottom-info-desc {
        color: #fff;
        font-size: 14px;
    }
    .page-bottom-info-form {
        form {
            position: relative;
            input {
                background-color: #4A4A4A;
                color: #fff;
                font-size: 11px;
                padding: 16px 64px 16px 16px;
                width: 180px;
                @include border-radius(32px);
            }
            button {
                background-color: #fff;
                color: $color_blue;
                cursor: pointer;
                height: 32px;
                margin: 3px;
                position: absolute;
                right: 3px;
                text-align: center;
                top: 3px;
                width: 32px;
                @include border-radius(32px);
                @include transition(all 0.3s);
                &:hover {
                    background-color: $color_blue;
                    color: #fff;
                }
            }
        }
    }
}

.page-pagination {
    > * {
        display: inline-block;
        margin: 0 8px;
    }
    > .current-page {
        color: $color_blue;
    }
    > .pagination {
        border: 1px solid $color_blue;
        padding: 8px;
        @include border-radius(32px);
        @include transition(all 0.3s);
        &:hover {
            background-color: $color_blue;
            color: #fff;
        }
    }
    > .pagination-prev {
        color: $color_blue;
        margin: 0 16px 0 0;
    }
    > .pagination-next {
        color: $color_blue;
        margin: 0 0 0 16px;
    }
}



.section-title {
    margin-bottom: 36px;
    padding-bottom: 14px;
   
    padding-top: 50px;
    position: relative;
    margin-bottom: 58px;
    width: 100%;
    &:before {
        background-color: $color_blue;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: 116px;
    }
    h1 {
        color: #343942;
        font-size: 24px;
        font-weight: bold;
        line-height: 29px;
    }
}

.tour-card {
    background-color: rgba(251, 251, 251, 0.5);
    margin: {
        bottom: 30px;
    }
    width: 48%;
    @include transition(all 0.3s);
    &:hover {
        background-color: #fff;
        @include box-shadow(0 2px 14px rgba(0, 0, 0, 0.1754));
    }
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    .tour-cover {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 69% 0 0;
        position: relative;
        .tour-cover-overlay {
            background-color: rgba(0, 0, 0, 0.5);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            .tour-title {
                bottom: 0;
                left: 0;
                padding: 24px 20px;
                position: absolute;
                right: 0;
                h1 {
                    color: #fff;
                    float: left;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 28px;
                }
                button {
                    border: 1px solid #fff;
                    color: #fff;
                    cursor: pointer;
                    float: right;
                    padding: 8px;
                    @include border-radius(32px);
                    @include transition(all 0.3s);
                    &:hover {
                        background-color: $color_blue;
                        border-color: $color_blue;
                    }
                    i {
                        text-align: center;
                        width: 1em;
                    }
                }
            }
        }
    }
    .tour-info {
        .tour-meta {
            border-bottom: 1px solid #EAEAEA;
            width: 100%;
            span {
                flex: 1;
                font-size: 18px;
                line-height: 21px;
                padding: 16px;
                text-align: center;
                &:not(:last-child) {
                    border-right: 1px solid #EAEAEA;
                }
            }
        }
    }
    .tour-content {
        padding: 24px;
        .tour-excerpt {
            color: #434B56;
            font-size: 11px;
            line-height: 23px;
            margin: {
                bottom: 10px;
            };
            text-align: justify;
            text-indent: 32px;
            width: 100%;
        }
        .tour-price-date {
            margin: {
                bottom: 27px;
            }
            .tour-price {
                color: $color_blue;
                font-size: 36px;
                font-weight: bold;
                line-height: 43px;
            }
            .tour-date {
                font-size: 14px;
                line-height: 17px;
                margin: {
                    left: 16px;
                }
            }
        }
    }
}

.contact {
    height: 693px;
    padding-top: 215px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/contact-.png);
    box-sizing: border-box;
    @media screen and (max-width: 767px) {
        height: auto;
    }
    .contact-holder {
      position: relative;
      .contact-person {
        position: relative;
        margin-top: -62px;
  
      margin-right: 80px;
        img {
          position: relative;
          bottom: -4px;
        }
        &:before {
          content: "";
          background-image: url(../images/passport.png);
          position: absolute;
          width: 75px;
          height: 75px;
          top: 76px;
          left: 3px;
          transform-origin: bottom;
          transform: rotate(-15deg); // transition: .3s linear;
          animation: passportMove 3s linear infinite;
        }
      }
      .contact-form {
        width: 530px;
        background-color: #2ca9e0;
        padding: 22px 60px;
        align-self: flex-start;
        .contact-form-title {
          color: white;
          margin-bottom: 40px;
      text-align: left;
          h1 {
            font-family: $font_san-francisco;
            font-weight: bold;
            font-size: 18px;
          }
          p {
            font-style: italic;
            font-size: 15px;
            margin-top: 10px;
            font-weight: 300;
          }
        }
        .form{
            .form-element{
                margin-bottom: 20px;
                .input-wrapper{
                    .input-style{
                        font-family: $font_roboto;
                        font-size: 15px;
                        font-weight: 500;
                        color: white;
                        padding: 15px 13px;
                        background-color: #74c6eb;
                        width: 100%;
                        border: none;
                        box-sizing: border-box;
                        &::placeholder{
                          color: rgba(255, 255, 255, 0.6);
                        }
                    }
                }
            }
            .link-style{
                color: $color_blue;
                background: white;
                span.arrow{
                    padding: 4.3px;
                }
            }
            textarea{
                height: 105px;
            }
        }
      }
    }
}
@media only screen 
and (max-device-width:600px){

    .contact-person{


        img{
            left: 47px;
        }
       
    }
    .contact-person:before{
        left: 45px !important;
    }
}