@import './mixins/mixins';
@import './variables/variables';

/*=============================================
=            Common modifications            =
=============================================*/
*{
    outline: none;
}
body{
    font-family:$font_roboto;    
    font-weight: 300;
    overflow-x: hidden;
}
a,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
}

input,
button {
    background: transparent;
    border: none;
}

.wrapper{
    max-width: $size_wrapper-width;
    margin: 0 auto;
    width: 100%;
}
.section-title{
    position: relative;
    font-size: 30px;
    font-family: $font_san-francisco;
    font-weight: bold;
    color:$color_gray-title;
    padding-bottom: 15px;
    text-transform: uppercase;
    z-index: 12;
    &:after{
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 130px;
        background-color: $color_blue;
    }
}
.icon-azn{
    font-family: 'azn';
}
b{
    font-weight: 500;
}

/*=====  End of Common modifications  ======*/


/*=============================================
=            Shared imports            =
=============================================*/


@import './shared/fonts';
@import './shared/icons';
@import './shared/form-elements';
@import './shared/global';


/*=====  End of Shared imports  ======*/



/*=============================================
=            Shared layouts            =
=============================================*/
@import './shared/header';
@import './shared/footer';

/*=====  End of Shared layouts  ======*/


/*=============================================
=            Views            =
=============================================*/

@import './views/home';
@import './views/yenilikler';
@import './views/turlar';
@import './views/about-tour';
@import './views/company';
@import './views/contact';
@import './views/profile';

/*=====  End of Views  ======*/



