/*----------  Colors  ----------*/

$color_blue:#2ca9e0;
$color_blue-lighten:#74c6eb;
$color_gray-title:#434a54;
$color_gray-border:#9fa3a8;
$color_gray-darken-button:#4c4c4c;
$color_gray-icon:#d0d0d0;
$color_black-footer:#030401;

/*----------  Sizes  ----------*/

$size_wrapper-width:1170px;
$size_section-title:30px;


/*----------  Fonts  ----------*/

$font_lato:'Lato';
$font_roboto:'Roboto';
$font_roboto-condensed:'Roboto Condensed';
$font_san-francisco:'San Francisco';